<div class="table" *ngIf="patient">
  <div class="table-row header">
    <div class="table-col">
      Date
    </div>
    <div class="table-col">
      aPTT
    </div>
    <div class="table-col">
      Bolus
    </div>
    <div class="table-col">
      Pump speed
    </div>
  </div>
  <div class="table-row" *ngFor="let e of entries">
    <div class="table-col">
      <ion-datetime display-format="DD.MM.YYYY hh:mm"
                    class="ion-no-padding"
                    disabled
                    [value]="e.date"></ion-datetime>
    </div>
    <div class="table-col">
      {{e.aptt}}
    </div>
    <div class="table-col">
      {{e.bolus}}
    </div>
    <div class="table-col">
      {{e.heparin_continuous.toFixed(1)}}
    </div>
  </div>
</div>
