@import "../../../styles/variables";

.patient-info {

  display: flex;
  flex-direction: column;
  justify-content: center;

  &.insulin {
    li:not(:last-child)::after {
      background: var(--ion-color-secondary);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    padding: 15px 20px;

    @media (max-width: 350px) {
      padding: 15px 15px;
    }

    &:not(:last-child)::after {
      content: '';
      height: 24px;
      width: 2px;
      background: $primary;
      position: absolute;
      right: -1px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .value {
    font-size: 26px;
    font-weight: 700;
  }

  .label {
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
}
