@import "../../../styles/variables";

main {
  margin: 0;
}

h1 {
  font-size: 32px;
}

.box {
  padding: 30px 16px 40px;
  background: var(--ion-color-primary-contrast);
  margin-bottom: 30px;

  @media (prefers-color-scheme: dark) {
    background: rgba($white, .1);
  }
}

.patient-info {

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    padding: 15px 20px;

    &:not(:last-child)::after {
      content: '';
      height: 24px;
      width: 2px;
      background: $primary;
      position: absolute;
      right: -1px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .value {
    font-size: 26px;
    font-weight: 700;
  }

  .label {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

ion-item-divider {
  background: transparent;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;

  ion-icon {
    font-size: 22px;
    margin-right: 10px;
  }
}

ion-list {
  border-top: 1px solid var(--border-color);

  &.md {
    padding: 0;
  }

  ion-item {
    --inner-padding-start: 16px;
    background: var(--ion-color-primary-contrast);

    &:first-child {
      --inner-border-width: 1px 0;
    }

    ion-label:not(:first-child):last-child {
      text-align: right;
    }
  }
}

ion-datetime, ion-label {
  opacity: 1 !important;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;

  ion-button {
    flex: 1;
    margin: 5px 0;
  }
}

h2 {
  padding: 0 16px;
}

.table {
  font-size: 12px;

  &-row {
    display: flex;
    background: var(--ion-color-primary-contrast);
    border-bottom: 1px solid $body-bg;
    opacity: 0.5;

    &.header {
      font-weight: 700;
      background: transparent;
    }

    &.header, &:nth-child(2) {
      opacity: 1;
    }
  }

  &-col {
    padding: 5px;
    text-align: center;
    flex: 1;

    &:first-child {
      padding-left: 16px;
      flex-basis: 65px;
      min-width: 65px;
    }

    &:last-child {
      padding-right: 16px;
      flex-basis: 50px;
      min-width: 50px;
    }
  }
}

.btn-center {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;

  &.no-margin {
    margin: 0;
  }
}
