<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Patient detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main *ngIf="patient">

    <div class="box">
      <h1>{{ patient.first_name }} {{ patient.last_name }}</h1>

      <div class="patient-info">
        <ul>
          <li>
            <div class="value">{{ getPatientAge() }}</div>
            <div class="label">age</div>
          </li>
          <li>
            <div class="value">{{ patient.weight }}</div>
            <div class="label">weight</div>
          </li>
          <li>
            <div class="value">{{ patient.target_aptt.low }} - {{patient.target_aptt.high}}</div>
            <div class="label">target aptt</div>
          </li>
        </ul>
      </div>

      <ion-button expand="block" fill="outline">More patient information</ion-button>
    </div>

    <div class="aptt-header">
      <span>Notification</span>
      <div class="alert">
        <!-- todo: change true to isNotificationsActive -->
        <ion-icon [name]="true ? 'notifications' : 'notifications-outline'"></ion-icon>
        <ion-datetime display-format="hh:mm:ss"
                      class="ion-no-padding"
                      disabled
                      [value]="notificationTriggerTime"></ion-datetime>
      </div>
    </div>

    <ion-list>
      <ion-item class="ion-no-padding">
        <ion-label><strong>aPTT</strong></ion-label>
        <ion-label>{{ patient.actual_aptt }}</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label><strong>Pump speed</strong></ion-label>
        <ion-label>{{ patient.actual_dosage }}</ion-label>
      </ion-item>
    </ion-list>

    <div class="aptt-updated">
      <div>Last update</div>
      <ion-datetime display-format="DD.MM.YYYY hh:mm"
                    class="ion-no-padding"
                    disabled
                    [value]="patient.actual_aptt_updated_on"></ion-datetime>
    </div>

    <div class="buttons">
      <ion-button fill="outline" [routerLink]="['/new-aptt', patient.id]">Add new aPTT result</ion-button>
      <ion-button>Stop pump</ion-button>

    </div>

    <div class="table">
      <div class="table-row header">
        <div class="table-col">
          Date
        </div>
        <div class="table-col">
          aPTT
        </div>
        <div class="table-col">
          Bolus
        </div>
        <div class="table-col">
          Pump speed
        </div>
      </div>
      <div class="table-row">
        <div class="table-col">
          <ion-datetime display-format="DD.MM.YYYY hh:mm"
                        class="ion-no-padding"
                        disabled
                        [value]="patient.actual_aptt_updated_on"></ion-datetime>
        </div>
        <div class="table-col">
          {{patient.actual_aptt}}
        </div>
        <div class="table-col">
          1000
        </div>
        <div class="table-col">
          {{patient.actual_dosage}}
        </div>
      </div>
    </div>

    <!--    <h2>Pump speed</h2>-->
    <!--    <ion-list>-->
    <!--      <ion-item class="ion-no-padding">-->
    <!--        <ion-label>{{ patient.drug_type | titlecase }}</ion-label>-->
    <!--        <ion-label slot="end">{{ patient.actual_dosage }}</ion-label>-->
    <!--      </ion-item>-->
    <!--    </ion-list>-->
    <div class="buttons">
      <ion-button fill="clear" size="small">show complete history</ion-button>
    </div>

  </main>
</ion-content>
