<ion-header class="ion-no-border">
  <ion-toolbar [color]="patient?.drug_type === types.H ? 'primary' : 'secondary'">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="back">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Home
      </ion-button>
    </ion-buttons>
    <ion-title>Patient detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main *ngIf="patient">
    <div class="box">
      <h1>{{ patient.first_name }} {{ patient.last_name }}</h1>
      <ion-note>ID: {{ patient.id }}</ion-note>

      <app-patient-info [patient]="patient"></app-patient-info>

      <div class="btn-center no-margin">
        <ion-button size="small"
                    fill="outline"
                    [color]="patient?.drug_type === types.H ? 'primary' : 'secondary'"
                    [routerLink]="['more-info']">More patient information
        </ion-button>
      </div>
    </div>

    <app-history-entries [patient]="patient" [entries]="historyEntries"></app-history-entries>

    <div class="buttons">
      <ion-button *ngIf="historyEntries.length > 0"
                  expand="block" [routerLink]="['/new-aptt', patient.id]"
                  [color]="patient?.drug_type === types.H ? 'primary' : 'secondary'">
        Add new aPTT result
      </ion-button>
      <ion-button *ngIf="!historyEntries.length"
                  expand="block" [routerLink]="['/new-aptt', patient.id, 'recommendation', 0]"
                  [color]="patient?.drug_type === types.H ? 'primary' : 'secondary'">
        Begin {{ drugType }} treatment
      </ion-button>
      <ion-button fill="clear" size="small" [routerLink]="['history']"
                  *ngIf="historyEntries.length"
                  [color]="patient?.drug_type === types.H ? 'primary' : 'secondary'">show complete history
      </ion-button>
    </div>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Next aPTT check:</ion-label>
        <ion-label slot="end" class="timeout" *ngIf="timeLeft !== ''">{{ timeLeft }}</ion-label>
      </ion-item-divider>
    </ion-item-group>
    <ion-list>
      <ion-item class="ion-no-padding" [detail]="false" (click)="toggleReminder()">
        <ion-label>Notification</ion-label>
        <div class="no-events">
          <ion-toggle [color]="patient?.drug_type === types.H ? 'primary' : 'secondary'"
                      [checked]="nextReminderDate !== undefined"></ion-toggle>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding" *ngIf="nextReminderDate !== undefined">
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="DD MMMM hh:mm a"
                      (ionChange)="handleReminderDateChange($event)"
                      [value]="nextReminderDate.toISOString()"></ion-datetime>
      </ion-item>
    </ion-list>

    <div class="btn-center">
      <ion-button (click)="presentAlert()"
                  [color]="patient?.drug_type === types.H ? 'primary' : 'secondary'"
                  [disabled]="isStopped">Stop the pump
      </ion-button>
    </div>

  </main>
</ion-content>
