.floating-button {
  margin: 30px 16px 20px;
  width: calc(100% - 32px);

  position: fixed;
  bottom: 0;

  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.2);


  z-index: 10;

  left: 0;
}

section {
  padding-bottom: 80px;
}

ion-item {
  position: relative;

  &.ios ion-note {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
