<ion-header class="ion-no-border">
  <ion-toolbar [color]="patient?.drug_type == types.H ? 'primary' : 'secondary'">
    <ion-buttons slot="start" *ngIf="patient">
      <ion-button [routerLink]="['/detail', patient.id]" routerDirection="back">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Patient
      </ion-button>
    </ion-buttons>
    <ion-title>New aPTT result</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <app-patient-card [patient]="patient"></app-patient-card>
    <form (ngSubmit)="save()">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>aPTT result</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="ion-no-padding">
            <ion-input [(ngModel)]="apttValue" name="apttValue" type="number"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-button type="submit"
                  [color]="patient?.drug_type == types.H ? 'primary' : 'secondary'"
                  expand="block"
                  class="floating-button"
                  [disabled]="!apttValue">Add
      </ion-button>

    </form>

  </section>
</ion-content>
