<ion-header class="ion-no-border">
    <ion-toolbar [color]="patient?.drug_type == types.H ? 'primary' : 'secondary'">
        <ion-title>Calculation result</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section *ngIf="patient">
        <app-patient-card [patient]="patient"></app-patient-card>

        <ng-container *ngIf="patient.drug_type == types.I && insulinRecommendation">
            <ion-card *ngIf="insulinRecommendation.dosage !== null && insulinRecommendation.dosage !== undefined">
                <ion-card-header>
                    <ion-card-subtitle>Recommended dosage of insulin</ion-card-subtitle>
                    <ion-card-title class="ion-text-center">
                        {{ insulinRecommendation.dosage !== undefined && insulinRecommendation.dosage !== null ? insulinRecommendation.dosage.toFixed(1) : '' }}
                    </ion-card-title>
                </ion-card-header>
            </ion-card>
        </ng-container>

        <ng-container *ngIf="patient.drug_type == types.H && heparinRecommendation">
            <ion-card *ngIf="heparinRecommendation.doctor_warning" class="warning">
                <ion-card-header>
                    <ion-card-subtitle>
                        <ion-icon name="warning"></ion-icon>
                        Doctor's warning
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <p>{{ heparinRecommendation.doctor_warning}}</p>
                    <strong>You should contact the doctor before making any changes.</strong>
                </ion-card-content>
            </ion-card>

            <ion-card *ngIf="heparinRecommendation.actual_heparin_bolus_dosage && heparinRecommendation.previous_heparin_bolus_dosage !== heparinRecommendation.actual_heparin_bolus_dosage">
                <ion-card-header>
                    <ion-card-subtitle>Apply bolus</ion-card-subtitle>
                    <ion-card-title class="ion-text-center">{{ heparinRecommendation.actual_heparin_bolus_dosage }}
                        <ion-note>ml</ion-note>
                    </ion-card-title>
                </ion-card-header>
            </ion-card>

            <ion-card *ngIf="heparinRecommendation.actual_heparin_continuous_dosage !== undefined && heparinRecommendation.previous_heparin_continuous_dosage !== undefined &&
heparinRecommendation.actual_heparin_continuous_dosage !== heparinRecommendation.previous_heparin_continuous_dosage">
                <ion-card-header>
                    <ion-card-subtitle>Change pump speed</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="speed">
                        <div class="speed-item">
                            <div class="value">{{ heparinRecommendation.previous_heparin_continuous_dosage !== null ? heparinRecommendation.previous_heparin_continuous_dosage.toFixed(1) : '-'}}</div>
                            <div class="units">ml/hod</div>
                            <div class="label">Current</div>
                        </div>
                        <ion-icon name="arrow-forward"></ion-icon>
                        <div class="speed-item">
                            <div class="value">{{heparinRecommendation.actual_heparin_continuous_dosage.toFixed(1)}}</div>
                            <div class="units">ml/hod</div>
                            <div class="label">Recommended</div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </ng-container>

        <ion-card *ngIf="patient && (insulinRecommendation || heparinRecommendation) ? nothingToShow : false" class="nothing">
            <ion-card-header>
                <ion-card-title>
                    All set!
                    <ion-icon name="checkmark-circle"></ion-icon>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center" *ngIf="patient.drug_type === types.H">
                Current aPTT level is correct. No action needed.
            </ion-card-content>
        </ion-card>

        <ion-button (click)="accept()"
                    [color]="patient?.drug_type == types.H ? 'primary' : 'secondary'"
                    expand="block"
                    class="floating-button">
            Accept
        </ion-button>
    </section>
</ion-content>
