<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button default-href="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Calculation result</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="accept()">
                Accept
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section *ngIf="patient && r">
        <app-patient-card [patient]="patient"></app-patient-card>

        <ion-card *ngIf="r.doctor_warning" class="warning">
            <ion-card-header>
                <ion-card-subtitle>
                    <ion-icon name="warning"></ion-icon>
                    Doctor's warning
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <p>{{ r.doctor_warning}}</p>
                <strong>You should contact the doctor before making any changes.</strong>
            </ion-card-content>
        </ion-card>

    <ion-card *ngIf="r.actual_heparin_bolus_dosage && r.previous_heparin_bolus_dosage !== r.actual_heparin_bolus_dosage">
      <ion-card-header>
        <ion-card-subtitle>Apply bolus</ion-card-subtitle>
        <ion-card-title class="ion-text-center">{{ r.actual_heparin_bolus_dosage }}
          <ion-note>ml</ion-note>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

        <ion-card *ngIf="r.actual_heparin_continuous_dosage !== undefined && r.previous_heparin_continuous_dosage !== undefined &&
r.actual_heparin_continuous_dosage !== r.previous_heparin_continuous_dosage">
            <ion-card-header>
                <ion-card-subtitle>Change pump speed</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <div class="speed">
                    <div class="speed-item">
                        <div class="value">{{r.previous_heparin_continuous_dosage.toFixed(1)}}</div>
                        <div class="units">ml/hod</div>
                        <div class="label">Current</div>
                    </div>
                    <ion-icon name="arrow-forward"></ion-icon>
                    <div class="speed-item">
                        <div class="value">{{r.actual_heparin_continuous_dosage.toFixed(1)}}</div>
                        <div class="units">ml/hod</div>
                        <div class="label">Recommended</div>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="nothingToShow" class="nothing">
            <ion-card-header>
                <ion-card-title>
                    All set!
                    <ion-icon name="checkmark-circle"></ion-icon>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
                Current aPTT level is correct. No action needed.
            </ion-card-content>
        </ion-card>

        <ion-button (click)="accept()"
                    color="primary"
                    expand="block"
                    class="floating-button">
            Accept
        </ion-button>
    </section>
</ion-content>
