<form *ngIf="patient" (ngSubmit)="save()">
  <section>
    <ion-item class="ion-no-padding">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" [(ngModel)]="patient.first_name" name="first_name"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label position="floating">Last name</ion-label>
      <ion-input [(ngModel)]="patient.last_name" name="last_name"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label position="floating">Sex</ion-label>
      <ion-select [(ngModel)]="patient.sex" name="sex">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label position="floating">Date of birth</ion-label>
      <ion-datetime [value]="getPatientDate()"
                    (ionChange)="setPatientDate($event)"
                    name="date_of_birth"
                    displayFormat="DD.MM.YYYY"></ion-datetime>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label position="floating">Height</ion-label>
      <ion-input [(ngModel)]="patient.height" name="height" type="number"></ion-input>
      <ion-note slot="end">cm</ion-note>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label position="floating">Weight</ion-label>
      <ion-input [(ngModel)]="patient.weight" name="weight" type="number"></ion-input>
      <ion-note slot="end">kg</ion-note>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none">
      <ion-label slot="start">Target aPTT value</ion-label>
      <ion-label slot="end" class="ion-text-right">{{ patient.target_aptt.low }}, {{patient.target_aptt.high}}</ion-label>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-range min="1.5" max="3" color="primary" step="0.1" dual-knobs
                 [snaps]="true"
                 [ticks]="true"
                 [value]="getPatientRange()"
                 (ionChange)="setPatientRange($event)"
                 name="target_aptt">
        <ion-label slot="start">1.5</ion-label>
        <ion-label slot="end">3</ion-label>
      </ion-range>
    </ion-item>
  </section>

  <ion-button type="submit" color="primary" class="floating-button">Save</ion-button>
</form>

