<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="home" text="Bolus"></ion-back-button>
    </ion-buttons>
    <ion-title>Reminder</ion-title>
    <ion-buttons slot="end" *ngIf="patient">
      <ion-button [routerLink]="['/detail', patient.id]">
        Finish
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <app-patient-card [patient]="patient"></app-patient-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Next test</ion-card-subtitle>
        <ion-card-title>Set a reminder</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-datetime displayFormat="DD MMMM hh:mm a"
                      display-timezone="utc"
                      [disabled]="!on"
                      [value]="reminder"></ion-datetime>
        <ion-button (click)="toggle()" fill="clear" expand="block" size="small">
          <ng-container *ngIf="on">Disable</ng-container>
          <ng-container *ngIf="!on">Enable</ng-container>
          notification
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-button *ngIf="patient"
                [routerLink]="['/detail', patient.id]"
                color="primary"
                expand="block"
                class="floating-button">
      OK
    </ion-button>

  </section>
</ion-content>
