@import "../variables";

h1 {
  //font-size: 48px;
  font-weight: 900;
  margin: 0 0 10px;
}

h2 {
  font-weight: 900;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
  color: $body-color--secondary;
}
