<ion-header class="ion-no-border">
  <ion-toolbar [color]="patient?.drug_type == types.H ? 'primary' : 'secondary'">
    <ion-buttons slot="start" *ngIf="patient">
      <ion-button [routerLink]="['/detail', patient.id]" routerDirection="back">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Detail
      </ion-button>
    </ion-buttons>
    <ion-title>Patient info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
    <app-patient-form [patient]="patient" (formSubmitted)="save($event)"></app-patient-form>
  </main>
</ion-content>
