<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="home" text="aPTT"></ion-back-button>
    </ion-buttons>
    <ion-title>Bolus</ion-title>
    <ion-buttons slot="end" *ngIf="patient && r">
      <ion-button [routerLink]="['/new-aptt', patient.id, 'pump-speed', r.heparin_continuous_dosage, r.next_remainder]">
        Pump speed
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="patient && r">
    <app-patient-card [patient]="patient"></app-patient-card>

    <ion-card *ngIf="r.doctor_warning" class="warning">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-icon name="warning"></ion-icon>
          Doctor's warning
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ r.doctor_warning}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Apply bolus</ion-card-subtitle>
        <ion-card-title>{{ r.heparin_bolus_dosage }}
          <ion-note>ml</ion-note>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-button [routerLink]="['/new-aptt', patient.id, 'pump-speed', r.heparin_continuous_dosage, r.next_remainder]"
                color="primary"
                expand="block"
                class="floating-button">Apply
    </ion-button>
  </section>
</ion-content>
