<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Patient list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="activeTab">
    <ion-segment-button [value]="tabs.heparin">
      <ion-label>Heparin</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="tabs.insulin">
      <ion-label>Insulin</ion-label>
    </ion-segment-button>
  </ion-segment>

  <main [ngSwitch]="activeTab">
    <ng-container *ngSwitchCase="tabs.heparin">
      <h1>Heparin patients</h1>
      <ion-list *ngIf="patients.length">
        <ion-item *ngFor="let p of patients" [detail]="true">
          {{p.first_name + ' ' + p.last_name}}
        </ion-item>
      </ion-list>
      <p *ngIf="!patients.length">Continue by adding new patient</p>
    </ng-container>

    <ng-container *ngSwitchCase="tabs.insulin">
      <h1>Insulin patients</h1>
      <ion-list *ngIf="patients.length">
        <ion-item *ngFor="let p of patients" [detail]="true">
          {{p.first_name + ' ' + p.last_name}}
        </ion-item>
      </ion-list>
      <p *ngIf="!patients.length">Continue by adding new patient</p>
    </ng-container>
  </main>

  <ion-fab-button color="primary">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-content>
