@import "../../../styles/variables";

ion-segment {
  --ion-background-color: var(--ion-color-primary-contrast);

  &.ios {
    padding: 15px;
    border-radius: 0;
    background-color: rgba(var(--ion-color-primary-rgb), .7);
    color: var(--ion-color-primary-contrast);

    @media (prefers-color-scheme: dark) {
      --ion-color-step-350: #fff;
    }

    ion-segment-button {
      &.segment-button-checked {
        color: var(--ion-color-primary);
      }
    }

    &.insulin ion-segment-button {
      &.segment-button-checked {
        color: var(--ion-color-secondary);
      }
    }
  }

  &.md {
    background-color: var(--ion-color-primary);

    &.insulin {
      background-color: var(--ion-color-secondary);
    }

    ion-segment-button {
      --color: rgba(var(--ion-color-primary-contrast-rgb), 0.5);
      --color-checked: var(--ion-color-primary-contrast);
    }
  }
}

h1 {
  padding: 0 16px;
}

p {
  text-align: center;
}

ion-list {
  border-top: 1px solid var(--border-color);

  ion-item {
    --inner-padding-start: 16px;
    background: var(--ion-color-primary-contrast);

    &:first-child {
      --inner-border-width: 1px 0;
    }
  }
}

ion-fab-button {
  bottom: 16px;
  right: 16px;
  position: fixed;
}

