ion-tab-button {
  ion-label {
    font-size: 14px;
  }

  ion-badge {
    --background: var(--ion-color-primary-contrast);
    --color: var(--ion-color-primary);
  }

  &.active {
    ion-label {
      font-weight: 700;
    }
  }

}


