<ion-header class="ion-no-border">
  <ion-toolbar [color]="activeTab == tabs.heparin ? 'primary' : 'secondary'">
    <ion-title>Patients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="activeTab" [class.insulin]="activeTab == tabs.insulin">
    <ion-segment-button [value]="tabs.heparin.valueOf()">
      <ion-label>Heparin</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="tabs.insulin.valueOf()">
      <ion-label>Insulin</ion-label>
    </ion-segment-button>
  </ion-segment>

  <main [ngSwitch]="activeTab">
    <ng-container *ngSwitchCase="tabs.heparin">
      <h1>Heparin patients</h1>
      <ion-list *ngIf="hPatients.length">
        <ion-item *ngFor="let p of hPatients"
                  [detail]="true"
                  class="ion-no-padding"
                  [routerLink]="['/detail/', p.id]">
          {{p.first_name + ' ' + p.last_name}}
        </ion-item>
      </ion-list>
      <p *ngIf="!hPatients.length">Continue by adding new patient</p>

      <ion-fab-button color="primary" routerLink="/new/heparin" routerDirection="forward">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ng-container>

    <ng-container *ngSwitchCase="tabs.insulin">
      <h1>Insulin patients</h1>
      <ion-list *ngIf="iPatients.length">
        <ion-item *ngFor="let p of iPatients"
                  [detail]="true"
                  class="ion-no-padding"
                  [routerLink]="['/detail/', p.id]">
          {{p.first_name + ' ' + p.last_name}}
        </ion-item>
      </ion-list>
      <p *ngIf="!iPatients.length">Continue by adding new patient</p>

      <ion-fab-button color="secondary" routerLink="/new/insulin" routerDirection="forward">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ng-container>
  </main>
</ion-content>
